@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">    
    <h1>Welcome to speakMore!</h1>
    <p><a href="@Url.Action("Index", "Plan")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

